
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}


    
        <div class="row align-items-center">
        <div class="col-md-3"></div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center">Change Password</h2>
                    </div>

                    <label><b style="color:brown;font-size:15px;">Enter your new and confirm password</b></label>
                    <div class="input-group custom">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Enter Email" id="email" />
                        <div class="input-group-append custom">
                            <span class="input-group-text">
                                <i class="icon-copy dw dw-user1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        <input type="password"
                               class="form-control form-control-lg"
                               placeholder="New Password" id="NewPassword" />
                        <div class="input-group-append custom">
                            <span class="input-group-text">
                                <i class="icon-copy dw dw-user1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        <input type="password"
                               class="form-control form-control-lg"
                               placeholder="Confirm Password" id="ConfirmPassword" />
                        <div class="input-group-append custom">
                            <span class="input-group-text">
                                <i class="icon-copy dw dw-user1"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-0">

                        <a class="btn btn-primary btn-lg btn-block" href="#" id="btnChange">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    $('#btnChange').click(function () {
        debugger;
        var email = $('#email').val();
        var NewPassword = $('#NewPassword').val();
        var ConfirmPassword = $('#ConfirmPassword').val();

        if (email == "") {

            swal("", "Please Enter Email", "warning");
            return false;
        }

        else if (NewPassword == "") {

            swal("", "Please Enter Password", "warning");
            return false;
        }
        else if (ConfirmPassword == "") {

            swal("", "Please Enter  ConfirmPassword", "warning");
            return false;

        }
        else if (NewPassword != ConfirmPassword) {

            swal("", "NewPassword And ConfirmPassword Should Be Same  ", "warning");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangePassword", "Login")',
            dataType: 'json',
            data: { email: email, NewPassword: NewPassword },
            success: function (result) {
                console.log(result);

                if (result.status == 1) {
                    swal({
                        type: 'success',
                        title: 'Congratulations',
                        text: result.msg,
                    }).then((value) => {
                        location.href = '@Url.Action("Index", "Admin")';
                    });

                }
                else {
                    swal({
                        type: 'error',
                        title: 'Oops...Something Went Worng',
                        text: result.msg,
                    });
                    return false;
                }
            },

        });

    });
</script>



