
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<html lang="en">
<head>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
</head>
<body>
    <div class="row align-items-center" id="verification">
        <div class="col-md-6 col-lg-7">
            <img src="~/StaticFiles/vendors/images/forgot-password.png" alt="" />
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="login-box bg-white box-shadow border-radius-10">
                <div class="login-title">
                    <h2 class="text-center">Forget Password</h2>
                </div>

                <label><b style="color:brown;font-size:15px;">Enter your email to reset your password</b></label>
                <div class="input-group custom">
                    <input type="text"
                           class="form-control form-control-lg"
                           placeholder="Email ID" id="email" />
                    <div class="input-group-append custom">
                        <span class="input-group-text">
                            <i class="icon-copy dw dw-user1"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-0">

                            <a class="btn btn-danger btn-lg" href="#" id="btnForgot">Submit</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#btnForgot').click(function () {
                debugger;
                var forget = { email: '' };
                forget.email = $('#email').val();
                console.log(forget);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendOTP", "Login")',
                    dataType: 'json',
                        data: forget,
                    success: function (result) {
                        console.log(result);
                        if (result.status == 1) {
                            swal({
                                text: 'Otp Sent Successfully',
                                type: 'success',
                            }).then((value) => {
                                $("#reset").show();
                                $("#verification").hide();
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'Sorry!',
                                text: 'Invalid User.',
                                icon: 'error',
                            })
                        }

                    }, statusCode: {
                        500: function () {
                            //Alerts('Oops! Server error', AlertStatus.RED);
                        },
                        0: function () {
                            //Alerts('Oops! Internet Connection was broken', AlertStatus.RED);
                        }
                    },
                    error: function (xhr, result) {
                        //Alerts(result, AlertStatus.RED);
                    },
                    complete: function () {
                        //preloader.remove();
                    }
                });
            })
        });
    </script>
    <div id="reset" style="display:none;">
    <div class="row align-items-center">
        <div class="col-md-6 col-lg-7">
            <img src="~/StaticFiles/vendors/images/forgot-password.png" alt="" />
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="login-box bg-white box-shadow border-radius-10">
                <div class="login-title">
                    <h2 class="text-center">Reset Password</h2>
                </div>

                <label><b style="color:brown;font-size:15px;">Enter your new and confirm password</b></label>
                <div class="input-group custom">
                    <input type="text"
                           class="form-control form-control-lg"
                           placeholder="Enter OTP" id="otp" />
                    <div class="input-group-append custom">
                        <span class="input-group-text">
                            <i class="icon-copy dw dw-user1"></i>
                        </span>
                    </div>
                </div>
                <div class="input-group custom">
                    <input type="password"
                           class="form-control form-control-lg"
                               placeholder="New Password" id="NewPassword" />
                    <div class="input-group-append custom">
                        <span class="input-group-text">
                            <i class="icon-copy dw dw-user1"></i>
                        </span>
                    </div>
                </div>
                <div class="input-group custom">
                    <input type="password"
                           class="form-control form-control-lg"
                               placeholder="Confirm Password" id="ConfirmPassword" />
                    <div class="input-group-append custom">
                        <span class="input-group-text">
                            <i class="icon-copy dw dw-user1"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-0">

                        <a class="btn btn-primary btn-lg btn-block" href="#" id="btnReset">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        $('#btnReset').click(function () {
            debugger;
            var otp = $('#otp').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();

            if (otp == "") {

                swal("", "Please Enter OTP", "warning");
                return false;
            }

            else if (NewPassword == "") {

                swal("", "Please Enter Password", "warning");
                return false;
            }
            else if (ConfirmPassword == "") {

                swal("", "Please Enter  ConfirmPassword", "warning");
                return false;

            }
            else if (NewPassword != ConfirmPassword) {

                swal("", "NewPassword And ConfirmPassword Should Be Same  ", "warning");
                return false;

            }


            var email = $('#email').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyOTP", "Login")',
                dataType: 'json',
                data: { otp: otp, email: email, NewPassword: NewPassword },
                success: function (result) {
                    console.log(result);

                    if (result.status == 1) {
                        swal({
                            type: 'success',
                            title: 'Congratulations',
                            text: result.msg,
                        }).then((value) => {
                            location.href = '@Url.Action("Index", "Login")';
                        });

                    }
                    else {
                        swal({
                            type: 'error',
                            title: 'Oops...Something Went Worng',
                            text: result.msg,
                        });
                        return false;
                    }
                },

            });

        });
    </script>

</body>
</html>


